<section class="hero-section d-flex flex-column justify-content-center align-items-center text-white text-center">
  <div class="container px-3">
    <h1 class="display-4 fw-bold mb-3">Friendly & Trendy</h1>
    <p class="lead mb-4">Find Your Market Favorites.</p>
    <a [routerLink]="['/shop']" class="btn btn-light btn-lg rounded-pill px-4">Start Shopping</a>
  </div>
</section>

<section class="products container py-5">
  <h2 class="text-center mb-5">Featured Products</h2>
  <div class="row g-4">
    @for (item of products; track $index) {
      <div class="col-md-4">
        <app-product-card [product]="item" [categories]="categories"></app-product-card>
      </div>
    }
  </div>
</section>



