.hero-overlay {
    background-image: url('/assets/images/heroSection.png');
}

.hero-section {
    min-height: 75vh;
    background-image: url('/assets/images/heroSection.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    text-shadow: 0 2px 6px rgba(0, 0, 0, 0.6);
  }
  
  