<!-- nav-component.html -->
<nav class="navbar navbar-expand-lg navbar-primary bg-primary fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand text-white" href="#">Trendify Admin</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle d-flex align-items-center"
            href="#"
            id="adminMenu"
            data-bs-toggle="dropdown"
          >
            <img
              src="assets/images/avatar.png"
              class="dropdown-toggle rounded-circle"
              alt="User avatar"
              width="32"
              height="32"
            />
            <span> Admin</span>
          </a>
          <ul
            class="dropdown-menu dropdown-menu-end"
            aria-labelledby="adminMenu"
          >
            <li><a class="dropdown-item" href="#">Profile</a></li>
            <li><a class="dropdown-item" href="#">Settings</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="#">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<nav
  class="col-md-2 d-none d-md-block mt-4 bg-primary text-light sidebar vh-100 position-fixed pt-5"
>
  <ul class="nav nav-pills flex-column">
    <li class="nav-item">
      <a class="nav-link text-white" href="#">Dashboard</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-light" href="#">Products</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-light" href="#">Orders</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-light" href="#">Customers</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-light" href="#">Analytics</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-light" href="#">Settings</a>
    </li>
  </ul>
</nav>
