<div class="card h-100 border-0 shadow-sm position-relative overflow-hidden product-card">
  <div class="position-absolute top-0 end-0 m-2 z-3 d-flex flex-column align-items-end gap-1">
    <span *ngIf="product.isOnSale" class="badge bg-danger text-white">
      Sale
    </span>
    <span *ngIf="product.isItNew" class="badge bg-success text-white"> New </span>
  </div>

  <div class="ratio ratio-1x1">
    <img
      [src]="product.imageUrl"
      class="object-fit-contain rounded-start"
      alt="{{ product.name }}"
    >
  </div>
  <!-- <div class="ratio ratio-4x3">
    <img [src]="product.imageUrl" [routerLink]="['/product/details', product.id]" style="cursor: pointer;" class="card-img-top object-fit-cover"
      [alt]="product.name" />
  </div> -->

  <div class="card-body d-flex flex-column">
    <h5 class="card-title mb-1" [routerLink]="['/product/details', product.id]" style="cursor: pointer;">{{ product.name
      }}</h5>
    @for (c of categories; track $index) {
    @if(product.categoryId == c.id){
    <h6 class="text-uppercase text-muted mb-2 small">Category: {{ c.name }}</h6>
    }
    }

    <div class="mt-auto d-flex justify-content-between align-items-center">
      <span class="h5 text-success mb-2">
        {{ product.price | currency:'BGN' }}
      </span>
      <!-- <a [routerLink]="['/product/details', product.id]" class="btn btn-outline-secondary btn-sm">
        Details
      </a> -->
    </div>
    <button class="btn btn-lg btn-outline-primary px-4" (click)="addToCart()">
      <i class="bi bi-cart-plus me-2"></i> Add to Cart
    </button>
  </div>
</div>