<div class="container py-5">
  <div *ngIf="loading" class="text-center">
    <div class="spinner-border text-primary" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>

  <div *ngIf="!loading && cart">
    <h2 class="mb-4 fw-bold text-center">🛒 Your Cart</h2>

    <div class="list-group">
      @for (product of cart.items; track $index) {
      <app-cart-item [item]="product" (qtyChange)="changeQty(product, $event)"
        (remove)="remove(product)"></app-cart-item>
      }
      @if(cart.items.length === 0){
      <div class="list-group-item list-group-item-light py-3 px-4 d-flex flex-column flex-md-row
         align-items-md-center justify-content-between border rounded mb-3 shadow-sm">
        <div class="text-center">
          <p class="h6 text-muted">Your cart is empty.</p>
        </div>
      </div>
      }
    </div>

    <div class="d-flex justify-content-end">
      <h5 class="text-success">Total Price: {{totalPrice | currency:'BGN'}}</h5>
    </div>

    <div class="d-flex justify-content-between mt-4">
      <button (click)="clear()" [disabled]="cart.items.length === 0" class="btn btn-secondary">
        <i class="bi bi-trash3"></i> Clear Cart
      </button>
      <button [routerLink]="['/checkout']" [disabled]="cart.items.length === 0" class="btn btn-success">
        <i class="bi bi-cart-check"></i> Checkout
      </button>
    </div>
  </div>
</div>