<div
  class="list-group-item list-group-item-light py-3 px-4 d-flex flex-column flex-md-row
         align-items-md-center justify-content-between border rounded mb-3 shadow-sm"
>
  <div class="d-flex align-items-center gap-3 mb-3 mb-md-0">
    <img [src]="item.imageUrl"
         width="60" height="60"
         style="object-fit: contain;" />
    <div>
      <h5 class="mb-1">{{ item.productName }}</h5>
      <small class="text-muted">{{ item.price | currency:'BGN' }}</small>
    </div>
  </div>

  <ng-container *ngIf="!readonly; else staticView">
    <div class="d-flex flex-column flex-sm-row align-items-center gap-2">
      <div class="d-flex align-items-center">
        <label class="me-2 mb-0">Qty:</label>
        <input
          type="number"
          min="1"
          class="form-control form-control-sm"
          style="width: 70px;"
          [value]="item.quantity"
          (change)="onQtyChange($event)"
        />
      </div>

      <button (click)="onRemove()"
              class="btn btn-sm btn-outline-danger">
        <i class="bi bi-x-lg"></i> Remove
      </button>
    </div>
  </ng-container>

  <ng-template #staticView>
    <h5 class="me-2 mb-0 text-muted">
      Qty: {{ item.quantity }}
      | Price: {{ (item.price * item.quantity) | currency:'BGN' }}
    </h5>
  </ng-template>

</div>
